{{extend 'layout_tecnicos.html'}}
<h2> Vista preliminar</h2>
Aca va la vista de impresion (bien armada, con logo y todo)*
<h3>
    
DNI: 40512534 <br>
Nombre: Emanuel <br>
Apellido: Carabajal <br>
Localidad: Isidro Casanova <br>
Calle: Juan Sebastián Bach <br>
Numero de calle: 5469 <br>
Entre calle 1: La Zarza <br>
Entre calle 2: Ushuaia <br>
Teléfono: 46945419 <br>
Costo:  $_____  <br>
Descripción del costo: ____________ <br>
Tecnico: Hernan Ramirez <br>
Fecha: 24-06-2017 <br>
IP: 192.168.1.12 <br>
Panel: nombre_de_panel <br>
Número de tarjeta: 123456789 <br>
Problema: ______________ <br>
Solución:  ______________ <br>
</h1>


<!DOCTYPE html> 

<html> 

<head> 

<title></title> 

</head> 

<body> 

<input type="button" value="Imprime esta 
pagina" onclick="window.print()"> 

</body> 

</html>
