<center><img src="{{=URL('static','images/logo.png')}}" width="300" height="150"</img></center>

<h4>
    <br><U>DATOS PERSONALES</U><BR><BR>
            DNI: 40512534<br>
            Nombre: Emanuel<br>
            Apellido: Carabajal<br><BR>

    <U>UBICACION</U><BR><BR>
        Localidad: Isidro Casanova<br>
        Calle: Juan Sebastián Bach<br>
        Numero de calle: 5469<br>
        Entre calle 1: La Zarza<br>
        Entre calle 2: Ushuaia<br><br>
    <u>CONTACTO</u><BR><BR>
        Teléfono: 46945419<br>
        Teléfono 2: 1165453579<br>
        Email: elvagodeltruco@gmail.com<br><BR>
    <U>INFORMACION SOBRE LA INSTALACION</U><BR><BR>
        Plan elegido: 6 Mb<br>
        Costo de instalacion: $ 100.0 (Con router)<br>
        Tecnico: Hernan Ramirez<br>
        Fecha de instalacion: 24-06-2017<br>
IP: _________<br>
Panel: ____________<br>
Número de tarjeta: _____________<br>
Descripción: _____________<br>
</h1>


<!DOCTYPE html> 

<html> 

<head> 

<title></title> 

</head> 

<body> 

<input type="button" value="Imprime esta 
pagina" onclick="window.print()"> 

</body> 

</html>
