{{extend 'layout_tecnicos.html'}}


<div class="col-md-2">
    <img class="img-responsive" src="{{=URL('static','images/logo.png')}}"style="width: 200px; border-radius:43px;">
    </div>
<br><br>
<br><br>
<div class="container">
    <div class="row profile">
		<div class="col-md-4 col-md-offset-3">
			<div class="profile-sidebar">

				<div class="profile-userpic">
					<img src="http://www.repuestosparamotos.co/page/images/user.png" class="img-responsive" alt="">
				</div>

				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						TÉCNICO
					</div>
					<div class="profile-usertitle-job">
						Martin Martinez
					</div>
				</div>

				<div class="profile-userbuttons">
					<a href="{{=URL(c="default",f="inicioDeSesion")}}" type="button" class="btn btn-danger btn-sm">Cerrar Sesión</a>
				</div>

				<div class="profile-usermenu">
					<ul class="nav">
						<li>
						    <a href="{{=URL(c="tecnicos",f="mapaInstalaciones")}}">
							<i class="glyphicon glyphicon-signal"></i>
							   Mapa de Instalaciones</a>
						</li>
						<li>
							<a href="{{=URL(c="tecnicos",f="mapaSoportes")}}">
							<i class="glyphicon glyphicon-wrench"></i>
							   Mapa de Soportes</a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-comment"></i>
							   Abrir Conversación</a>
						</li>
					</ul>
				</div>
			</div>
