{{extend 'layout_tecnicos.html'}}


<section id="login-bg">
    <div id="login-bg-top">
        <div class="logo-circle"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   <font color="white"><h2>BIENVENIDO A</h2> <img src="{{=URL('static','images/logo.png')}}" width="200" height="100"</img></font>
                </div>
            </div>
          </div>
       </div>
  <div class="container">
        <div class="col-md-12">
            <div class="bg-content">
                <div>
                   <font color="white"><h3>TÉCNICO</h3></font>
                </div>
                <div>
                   <font color="white"><h3>Martin Martinez</h3></font>
                </div>
                <div class="input-group" style="margin-top: 50px;">
                  <a href="#" class="btn btn-danger btn-lg">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>
</section>
