{{extend 'layout_tecnicos.html'}}


<div class="container col-md-offset-0">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">

				<div class="profile-userpic">
					<img src="http://www.repuestosparamotos.co/page/images/user.png" class="img-responsive" alt="">
				</div>

				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						TÉCNICO
					</div>
					<div class="profile-usertitle-job">
						Martin Martinez
					</div>
				</div>
                <div class="profile-userbuttons">
					<a href="{{=URL(c="default",f="inicioDeSesion")}}" type="button" class="btn btn-danger btn-sm">Cerrar Sesión</a>
				</div>

				<div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a href="{{=URL(c="tecnicos",f="mapaInstalaciones")}}">
							<i class="glyphicon glyphicon-signal"></i>
							  Mapa de Instalaciones</a>
						</li>
						<li>
							<a href="{{=URL(c="tecnicos",f="mapaSoportes")}}" >
							<i class="glyphicon glyphicon-wrench"></i>
							  Mapa de Soportes</a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-comment"></i>
							   Abrir Conversación</a>
						</li>
					</ul>
				</div>

			</div>
		</div>
		<div class="col-md-9">
          {{import urllib}}
            <div class="frame">
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{=KEY_API_GOOGLE_MAP}}" type="text/javascript"></script>
    <script type="text/javascript">
    //<![CDATA[
    function load() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map"));
        map.addControl(new GSmallMapControl());
        map.addControl(new GMapTypeControl());
        map.setCenter(new GLatLng({{=x0}},{{=y0}}), 2);
        map.setZoom(12);
        // Create a base icon for all of our markers that specifies the
        // shadow, icon dimensions, etc.
        var baseIcon = new GIcon();
        baseIcon.shadow = "http://www.google.com/mapfiles/shadow50.png";
        baseIcon.iconSize = new GSize(20, 34);
        baseIcon.shadowSize = new GSize(37, 34);
        baseIcon.iconAnchor = new GPoint(9, 34);
        baseIcon.infoWindowAnchor = new GPoint(9, 9);
        baseIcon.infoShadowAnchor = new GPoint(18, 14);
        var blueIcon = new GIcon();
        blueIcon.image = "http://www.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png";
        blueIcon.shadow = "http://www.google.com/mapfiles/shadow50.png";
        blueIcon.iconSize = new GSize(37, 34);
        blueIcon.shadowSize = new GSize(37, 34);
        blueIcon.iconAnchor = new GPoint(9, 34);
        blueIcon.infoWindowAnchor = new GPoint(9, 9);
        blueIcon.infoShadowAnchor = new GPoint(18, 14);

        function createMarker(point, i, message) {
           // Set up our GMarkerOptions object
           if(i==0) markerOptions = { icon:blueIcon };
           else markerOptions= {}
           var marker = new GMarker(point, markerOptions);
           GEvent.addListener(marker, "click", function() {
             marker.openInfoWindowHtml(message);
           });
           return marker;
        }
        {{for row in rows:}}{{if row.instalaciones.latitud and row.instalaciones.longitud:}}
          var point = new GLatLng({{=row.instalaciones.latitud}},{{=row.instalaciones.longitud}});
          map.addOverlay(createMarker(point, 0, '<strong>{{=str(row.instalaciones.nombre) + ' ' + str(row.instalaciones.apellido)}}</strong> <br> {{=str(row.instalaciones.direccion) + ' ' + str(row.instalaciones.numero_de_calle)}} <br> {{=str(row.localidades.localidad)}}'));
        {{pass}}{{pass}}
     }
    }
    //]]>
    </script>
<center>
    <div id="map" style="width: 1000px; height: 550px"></div>
    <script>load();</script>
</center>
</div>
