{{extend 'layout_tecnicos.html'}}

<br>

{{if cantidad > 0:}}

<br>
<head>
    <title>Instalaciones</title>
</head>


<table class="table table-hover" border="3px" >
    <thead bgcolor= "#BC4141" span style="color:#FFFFFF"><tr><th><center>Solicitante</center></th><th><center>Dirección</center></th><th><center>Localidad</center></th><th><center>Fecha</center></th><th><center>Ver ubicacion</center></th><th><center>Ver detalles</center></th><th><center>Agregar soporte</center></th></tr></thead>
        {{for x in datos: }}
    <tbody style="background-color:#FFFFFF;"><tr><td><center>{{=x.clientes.nombre}} {{=x.clientes.apellido}}</center></td><td><center>{{=x.clientes.direccion}} {{=x.clientes.numero_de_calle}}</center></td><td><center>{{=x.localidades.localidad}}</center></td><td><center>{{=x.solicitudes_soporte.fecha_estimada}}</center></td><td><center><A href="{{=URL(c='tecnicos', f='ubicacionSolicitanteSoporte', args=(x.clientes.id, ))}}" target="_blank"><i class="glyphicon glyphicon-map-marker"></i></A></center></td><td><center><A href="{{=URL(c='tecnicos', f='solicitudesSoporteDetalles', args=(x.solicitudes_soporte.id, ))}}" target="_blank"><i class="glyphicon glyphicon-th-list"></i></A></center></td><td><center><A href="{{=URL(c='tecnicos', f='alta_soporte', args=(x.solicitudes_soporte.id, ))}}"><i class="glyphicon glyphicon-wrench"></i></A></center></td></tr></tbody>{{pass}}</table>

{{pass}}

{{if cantidad == 0:}}
<center><a href="#" class="btn btn-primary btn-lg disabled" role="button">Sin Registros</a></center>
{{pass}}
