{{extend 'layout.html'}}
<h3><u>Buscar instalacion mediante DNI del solicitante</u></h3><br>

<br>

<form action="/action_page.php">
    <label>DNI: </label>
   <input type="integer" name="dni_buscar">
     <a href="{{=URL(c="altas",f="alta_instalacion")}}" class="btn btn-primary btn-sm" role="button">Buscar</a>
</form>

<br>

<form action="/action_page.php">
    <label>Numero de tarjeta: </label>
   <input type="integer" name="dni_buscar">
     <a href="{{=URL(c="altas",f="alta_instalacion")}}" class="btn btn-primary btn-sm" role="button">Buscar</a>
</form>
