{{extend 'layout.html'}}

<h3><center><u>Tecnicos</u></center></h3><br>

{{if cantidad > 0:}}

<form action="/action_page.php">
  DNI <input type="integer" name="dni_buscar">
    <button type="button" class="btn btn-primary btn-sm">Buscar</button>
</form>
<br>

<table class="table table-bordered">
    <thead><tr><th>Nombre</th><th>Apellido</th><th>DNI</th><th>E-mail</th><th>Telefono</th><th>Password</th></tr></thead>
        {{for x in datos: }}
    <tbody><tr><td>{{=x.nombre}}</td><td>{{=x.apellido}}</td><td>{{=x.dni}}</td><td>{{=x.email}}</td><td>{{=x.telefono}}</td><td>{{=x.password}}</td></tr></tbody>{{pass}}</table>
<a href="#" class="btn btn-primary btn-lg disabled" role="button">{{=cantidad}} Registro/s</a>
{{pass}}

{{if cantidad == 0:}}
<center><a href="#" class="btn btn-primary btn-lg disabled" role="button">Sin Registros</a></center>
{{pass}}
