<!DOCTYPE html>
<html class="no-js" lang="{{=T.accepted_language or 'en'}}"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-site-verification" content="">
        <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
        <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon"> <!--cambiar favicon-->
        <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
        <link rel="stylesheet" href="{{=URL('static','css/menu_tecnicos.css')}}"/>
        <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
        <!--Menu-->
        <html lang=''>
            <body style="background-color:#E7E6EE;">
                <div id='cssmenu'>
                    <ul>
                        <li class='active'><a href="{{=URL(c="tecnicos",f="inicio")}}"><span>INICIO</span></a></li>
                        <li><a href='#'><span>INSTALACIONES</span></a>
                            <ul>
                                <li><a href="{{=URL(c="tecnicos",f="instalacionesDiaActual")}}"><span>Dia actual</span></a></li>
                                <li><a href="{{=URL(c="tecnicos",f="instalacionesTodas")}}"><span>Todas</span></a></li>
                                <li><a href="{{=URL(c="tecnicos",f="nuevoCliente")}}"><span>Agregar cliente</span></a></li>
                            </ul>
                       </li>
                       <li><a href='#'><span>SOPORTES TECNICOS</span></a>
                           <ul>
                               <li><a href="{{=URL(c="tecnicos",f="soportesDiaActual")}}"><span>Dia actual</span></a></li>
                               <li><a href="{{=URL(c="tecnicos",f="soportesTodas")}}"><span>Todos</span></a></li>
                          </ul>
                       </li>
                       <li><a href='#'><span>MANTENIMIENTOS</span></a>
                           <ul>
                               <li><a href="{{=URL(c="tecnicos",f="mantenimientosNuevo")}}"><span>Nuevo</span></a></li>
                               <li><a href="{{=URL(c="tecnicos",f="mantenimientosRealizados")}}"><span>Realizados</span></a></li>
                           </ul>
                       </li>
                    </ul>
                </div>
            </body>
        </html>
        <br>
        <br>
        {{block center}}
        {{include}}
        {{end}}
    </head>
</html>
