{{extend 'layout_gerentes.html'}}

<title>Confirmación</title>

<br><br>

<div class="col-md-offset-4">
    <div class="col-md-6">
        <div class="alert alert-info"> <center>¡Operación Exitosa!<br>Solicitud  agregada correctamente </center> <center> <h1><span  class="glyphicon glyphicon-thumbs-up"> </span> </center></h1></div>
    </div>
</div>

<br><br><br><br><br><br><br><br><br><br>
<div class="col-md-offset-3">
<div class="col-md-6">
    <button type="button" class="btn btn-primary pull-right" onclick=" location.href='{{=URL(c='gerentes', f='alta_nodos')}}' "> Nueva solicitud </button>

</div>
</div>
</div>
