{{extend 'layout_gerentes.html'}}

<title>Listado</title>

<br><br>
{{if cantidad > 0:}}
<table class="table table-hover" class="table table-hover" border="3px" style="text-align:center;">
<thead bgcolor= "#366B32" span style="color:#FFFFFF">
 <tr>
    <th colspan="1"><center>Fecha</center></th>
      <th colspan="1"><center>Producto</center></th>
      <th colspan="3"><center>ENTRADAS</center></th>
      <th colspan="3"><center>SALIDAS</center></th>
    <th colspan="3"><center>EXISTENCIAS</center></th>
  </tr>
 </thead>
    <tbody style="background-color:#FFFFFF;">
  <tr>
    <th></th>
    <th></th>
        <th bgcolor= "#366B32" span style="color:#FFFFFF"><center>Cantidad</center></tH>
        <th bgcolor= "#366B32" span style="color:#FFFFFF"><center>Costo unitario</center></tH>
        <th bgcolor= "#366B32" span style="color:#FFFFFF"><center>Total</center></tH>
        <th bgcolor= "#366B32" span style="color:#FFFFFF"><center>Cantidad</center></tH>
        <th bgcolor= "#366B32" span style="color:#FFFFFF"><center>Costo unitario</center></tH>
        <th bgcolor= "#366B32" span style="color:#FFFFFF"><center>Total</center></tH>
        <th bgcolor= "#366B32" span style="color:#FFFFFF"><center>Cantidad</center></tH>
        <th bgcolor= "#366B32" span style="color:#FFFFFF"><center>Costo unitario</center></tH>
        <th bgcolor= "#366B32" span style="color:#FFFFFF"><center>Total</center></tH></td>
    </tr>
        {{for x in datos: }}
    <tr bgcolor= "#FFFFFF">
    <td>{{=x.stock.fecha}}</td>
       <td>{{=x.productos.nombre}}</td>
       <td>{{if x.stock.cantidad_entrada == None:}} - {{else:}} {{=x.stock.cantidad_entrada}} {{pass}}</td>
       <td>{{if x.stock.costo_unitario_entrada == None:}} - {{else:}} {{=x.stock.costo_unitario_entrada}} {{pass}}</td>
       <td>{{if x.stock.total_entrada == None:}} - {{else:}} {{=x.stock.total_entrada}} {{pass}}</td>
       <td>{{if x.stock.cantidad_salida == None:}} - {{else:}} {{=x.stock.cantidad_salida}} {{pass}}</td>
       <td>{{if x.stock.costo_unitario_salida == None:}} - {{else:}} {{=x.stock.costo_unitario_salida}} {{pass}}</td>
       <td>{{if x.stock.total_salida == None:}} - {{else:}} {{=x.stock.total_salida}} {{pass}}</td>
       <td>{{=x.stock.cantidad_existencia}}</td>
       <td>{{=x.stock.costo_unitario_existencia}}</td>
       <td>{{=x.stock.total_existencia}}</td>
    </tr>
   </tbody>
    {{pass}}
    </table>
<h3><span class="label label-success"> {{=cantidad}} Registro/s de stock</span></h3>
{{else:}}

<div class="col-md-offset-4">
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading"><center>¡No se han encontrado registros de stock!</center></div>
            <div class="panel-body" class="h3"><center><h1><span class="glyphicon glyphicon-file"></span></center></h1></div>
        </div>
    </div>
</div>
{{pass}}
