{{extend 'layout_gerentes.html'}}

<br>
{{if cantidad > 0:}}
<table class="table table-hover" border="3px" >
   <thead bgcolor= "#366B32" span style="color:#FFFFFF"><tr><th><center>Nombre</center></th><th><center>dni</center></th><th><center>Correo electronico</center></th><th><center>Telefono</center></th><th><center>clave</center></th></tr></thead>
       {{for x in datos: }}
   <tbody style="background-color:#FFFFFF;"><tr><td><center>{{=x.nombre}} {{=x.apellido}}</center></td><td><center>{{=x.dni}}</center></td><td><center>{{=x.correo_electronico}}</center></td><td><center>{{=x.telefono}}</center></td><td><center>{{=x.clave}}</center></td></tr></tbody>{{pass}}</table>
{{pass}}
