{{extend 'layout_admin.html'}}

<br>
<div class="container">
    <div class="row">
  <div class="col-md-6 col-md-offset-3">
<div class="panel panel panel-info">
  <div class="panel-heading"><center>Detalles sobre el cliente</center></div>
  <table class="table">
    {{for x in datos: }}
      <tbody>
          <tr><td><strong>Nombre y apellido:   </strong>{{=x.clientes.nombre}} {{=x.clientes.apellido}}</td></tr>
          <tr><td><strong>Dni:   </strong>{{=x.clientes.dni}}</td></tr>
          <tr><td><strong>Dirección:    </strong>{{=x.clientes.direccion}} {{=x.clientes.numero_de_calle}}</td></tr>
          <tr><td><strong>Entre las calles:   </strong>{{=x.clientes.entre_calle_1}} Y {{=x.clientes.entre_calle_2}}</td></tr>
          <tr><td><strong>Localidad:   </strong>{{=x.localidades.localidad}}</td></tr>
          <tr><td><strong>Télefono:   </strong>{{=x.clientes.telefono}}</td></tr>
          <tr><td><strong>Télefono alternativo:   </strong>{{=x.clientes.telefono_alternativo}}</td></tr>
          <tr><td><strong>Correo eléctronico:  </strong>{{=x.clientes.correo_electronico}}</td></tr>
          <tr><td><strong>Tipo de plan:   </strong>{{=x.planes.velocidad_de_bajada}} Mb</td></tr>
          <tr><td><strong>Panel:   </strong> {{=x.paneles.panel}} ( {{=x.nodos.nombre}} )</td></tr>
          <tr><td><strong>Direccion IP:   </strong>{{=x.clientes.direccion_ip}}</td></tr>
          <tr><td><strong>Fecha de alta:   </strong>{{=x.clientes.fecha_alta}}</td></tr>
      </tbody>
      {{pass}}
      </table>
</div>
</div>
</div>
</div>
