{{extend 'layout_admin.html'}}

<title>Confirmación</title>

<br><br>

<div class="col-md-offset-4">
    <div class="col-md-6">
        <div class="alert alert-info"> <center>¡Operación Exitosa!<br>{{if tipo == str(1):}} Solicitud de instalación numero {{=id_solicitud}} agregada correctamente {{else:}} Solicitud de instalación numero {{=id_solicitud}} editada correctamente {{pass}}</center> <center> <h1><span  class="glyphicon glyphicon-thumbs-up"> </span> </center></h1></div>
    </div>
</div>

<br><br><br><br><br><br><br><br><br><br>
<div class="col-md-offset-4">
<div class="col-md-6">
<center>
    <button type="button" class="btn btn-primary " onclick=" location.href='{{=URL(c='administradores', f='alta_solicitud_instalacion')}}' "> Nueva solicitud </button>

   <button type="button" class="btn btn-primary" onclick=" location.href='{{=URL(c='administradores', f='editar_solicitud_instalacion', args=(id_solicitud, ))}}' "> Editar solicitud </button>
</center>

<br><br>
<center>
    <button type="button" class="btn btn-primary" onclick=" location.href='{{=URL(c='administradores', f='actualizar_coords', args=(id_solicitud))}}' "> Actualizar ubicación </button>
</center>

</div>
</div>
