{{extend 'layout_admin.html'}}

<title>Listado</title>

<br>

{{if cantidad > 0:}}

<div class="col-md-2">
    <select name="localidad" class="form-control">
           <option selected value="0"> Localidad </option>
           <option value="1">Localidad1</option> 
           <option value="2">Localidad2</option> 
           <option value="3">Localidad3</option> 
    </select>
</div>
<div class="col-md-2">
    <select name="plan" class="form-control">
       <option selected value="0"> Plan </option>
       <option value="10">Plan1</option> 
       <option value="11">Plan2</option> 
       <option value="12">Plan3</option> 
    </select>
</div>
<div class="col-md-2">
    <select name="plan" class="form-control">
       <option selected value="0"> Nodo </option>
       <option value="10">Nodo1</option> 
       <option value="11">Nodo2</option> 
       <option value="12">Nodo3</option> 
    </select>
</div>
<div class="col-md-2">
    <select name="plan" class="form-control">
       <option selected value="0"> Panel </option>
       <option value="10">Panel1</option> 
       <option value="11">Panel2</option> 
       <option value="12">Panel3</option> 
    </select>
</div>


<br></br>
<br></br>


<table class="table table-hover" border="3px" >
    <thead bgcolor=”#7899B0″ span style="color:#FFFFFF"><tr><th><center>Cliente</center></th><th><center>Dni</center></th><th><center>Localidad</center></th><th><center>Plan</center></th><th><center>Panel</center></th><th><center>Ver detalles</center></th></tr></thead>
        {{for x in datos: }}
    <tbody style="background-color:#FFFFFF;"><tr><td><center>{{=x.clientes.nombre}} {{=x.clientes.apellido}}</center></td><td><center>{{=x.clientes.dni}}</center></td><td><center>{{=x.localidades.localidad}}</center></td><td><center>{{=x.planes.velocidad_de_bajada}} Mb</center></td><td><center>{{=x.paneles.nombre}}</center></td><td><center><A href="{{=URL(c='administradores', f='clientesDetalles', args=(x.clientes.id, ))}}" target="_blank"><i class="glyphicon glyphicon-th-list"></i></A></center></td></tr></tbody>{{pass}}</table>

<h3><span class="label label-primary"> {{=cantidad}} Registro/s de cliente/s</span></h3>

{{else:}}

<div class="col-md-offset-4">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading"><center>¡No se han encontrado registros de clientes!</center></div>
            <div class="panel-body" class="h3"><center><h1><span class="glyphicon glyphicon-file"></span></center></h1></div>
        </div>
    </div>
</div>
{{pass}}
