{{extend 'layout_admin.html'}}

<h3><u>Soportes tecnicos solicitados:</u></h3>
<br>


<select name="OS">
   <option selected value="0"> Filtrar </option>
       <optgroup label="Tecnico"> 
           <option value="1">Tecnico1</option> 
           <option value="2">Tecnico2</option> 
           <option value="3">Tecnico3</option> 
   </optgroup> 
    <optgroup label="Estado"> 
       <option value="10">Pendientes</option> 
       <option value="11">Finalizados</option> 
   </optgroup> 
</select>

<br></br>

<table class="table table-hover" border="3px" >
    <thead bgcolor=”#7899B0″ span style="color:#FFFFFF"><tr><th><center>Cliente</center></th><th><center>Problematica</center></th><th><center>Tecnico asignado</center></th><th><center>Fecha estimada</center></th><th><center>Estado</center><th><center>Editar</center></th><th><center>Borrar</center></th></tr></thead>
    <tbody style="background-color:#FFFFFF;">
        <tr><td><center>Emanuel Carabajal</center></td> <td><center>No anda nada</center></td><td><center>David Gonzalez</center></td><td><center>24/10/1997</center></td><td><center>Finalizado</center></td><td><center><span class="glyphicon glyphicon-pencil"></span></center></td><td><center><span class="glyphicon glyphicon-trash"></span></center></td></tr>
        <tr><td><center>Agustin Marichal</center></td> <td><center>No tiene conexion</center></td><td><center>sin asignar</center></td><td><center>sin asignar</center></td><td><center>Pendiente</center></td><td><center><span class="glyphicon glyphicon-pencil"></span></center></td><td><center><span class="glyphicon glyphicon-trash"></span></center></td></tr>
     </tbody></table>

<a href="#" class="btn btn-primary btn-lg disabled" role="button">{{=cantidad}} Registro/s</a>
