{{extend 'layout_clientes.html'}}
<style type="text/css">
.form-style-6{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #f7f7f7;
}
.form-style-6 h1{
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
    background: #2EBC99;
}
</style>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript">

function mostrar(id) {
    if (id == "no") {
        $("#no").show();
        $("#si").hide();
    }

    if (id == "si") {
        $("#no").hide();
        $("#si").show();
    }

        if (id == "nada") {
        $("#si").hide();
        $("#no").hide();
    }

}

function mostrar2(id) {
    if (id == "soporte") {
        $("#soporte").show();
        $("#consulta").hide();
    }

    if (id == "consulta") {
        $("#soporte").hide();
        $("#consulta").show();
    }

        if (id == "nada1") {
        $("#soporte").hide();
        $("#consulta").hide();
    }

}
</script>
<body>
     </br></br>
<div class="form-style-5">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
 </br>
    <h1>Contáctanos</h1>
    <h4>
        Puedes mandarnos tu consulta o pedir soporte tecnico llenando el formulario correspondiente.
    </h4>

<form action="index.php" method="post" class="form-style-6">
    <h4>
        ¿Eres cliente?
    </h4>
    <select id="status" name="status" onChange="mostrar(this.value);">
        <option value="nada" selected>Elige una opción</option>
        <option value="no">No</option>
        <option value="si" >Si</option>
     </select>
</form>

<form>
    <div class="form-style-6" id="si" style="display: none;">

    <select id="status" name="status" onChange="mostrar2(this.value);">
        <option value="nada1" selected>Elige una opción</option>
        <option value="consulta">consulta</option>
        <option value="soporte" >soporte</option>
     </select>
</form>
    </div>

<div class="form-style-6" id="nada" style="display: none;"></div>

<div class="form-style-6" id="nada1" style="display: none;"></div>

<div class="form-style-6" id="no" style="display: none;">
<h1>Contacto</h1>
<form >
<input type="text" name="field1" placeholder="Nombre"/>
<input type="text" name="field2" placeholder="Apellido" />
<input type="email" name="field3" placeholder="Email" />
<input type="text" name="field4" placeholder="Telefono" />
<textarea name="field5" placeholder="Escribe tu mensaje"></textarea>
<input type="submit" value="Enviar" />
    </form>
    </div>

    <div class="form-style-6" id="consulta" style="display: none;">
</form>
<h1>Contacto</h1>
<form >
<input type="text" name="field1" placeholder="Dni"/>
<input type="email" name="field3" placeholder="Email" />
<textarea name="field5" placeholder="Escribe tu consulta"></textarea>
<input type="submit" value="Enviar" />
</form>
</div>

     <div class="form-style-6" id="soporte" style="display: none;">
<h1>Soporte tecnico</h1>
<form >
<input type="text" name="dni_soporte" placeholder="Dni" />
<input type="email" name="email_soporte" placeholder="Email" />
<textarea name="comentario_soporte" placeholder="Escribe tu mensaje"></textarea>
<input type="submit" value="Enviar" />
</form>
</div>
</body>
