{{extend 'layout.html'}}
<h1>Descripcion del plan</h1>

<table style="height: 617px; border-color: #d72f2f; margin-left: auto; margin-right: auto;" border="6" width="810" cellspacing="5" cellpadding="5"><caption>&nbsp;</caption>
<tbody>
<tr>
<td style="text-align: center;" colspan="3">
<h1>DESCRIPCION</h1>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>FINAL POR MES</p>
<p>&nbsp;</p>
    <p><strong><button class="btn btn-default" type="#" >$ 200.00</button>
</strong></p>
</td>
<td style="text-align: center;">
<p>&nbsp;</p>
<p>TIPO DE INSTALACION</p>
<p>&nbsp;</p>
<p><strong><button class="btn btn-default" type="#" >Con router: $ 500.00</button></strong></p>
<p><strong><button class="btn btn-default" type="#" >Sin router: $ 100.00</button></strong></p>
</td>
<td style="text-align: center;">
<p>&nbsp; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; MEGAS &nbsp; &nbsp; &nbsp;&nbsp;</p>
<p>&nbsp;</p>
<p><strong><button class="btn btn-default" type="#" >1 Mega &nbsp;</button></strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="text-align: center;" colspan="3">
     <a href="{{=URL(c="clientes",f="datosUbicacion")}}" class="btn btn-primary btn-sm" role="button">Contratar online</a>
     <a href="{{=URL(c="altas",f="alta_cliente")}}" class="btn btn-primary btn-sm" role="button">Contactarme</a></td>
</tr>
</tbody>
</table>
